<h1>HOME</h1>


<h1>search</h1>
<div class="card-container">
<% @toy.each do |toy| %>
<div class="card border-dark mb-3" style="width: 18rem;">
  <%= image_tag(toy.image.variant(resize: "300x300") || "default-image.png") %>
  <div class="card-body text-secondary">
    <h5 class="card-title"><%= toy.toyname%></h5>
    <p class="card-text"><%= toy.content %></p>
    
    <% if !logged_in? %>
    <%=link_to 'Login', login_path, class:'btn btn-secondary' %>
    <% else %>
    <%= link_to 'show', toy_path(toy.id), class:'btn btn-secondary' %>
    <% end %>
  </div>
</div>
<% end %>
</div>

